.product{
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 20px;
  justify-content: space-between;
}
.name-product{
  width: 50%;
  height: 100%;
  font-size: large;
}
.price-product{
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
}
.product-selected{
  background-color: rgba(0, 0, 0, 0.5);
}