.product{
  cursor: pointer;
  display: flex;
  border: 1px solid black;
  padding: 20px;
  justify-content: space-between;
}
.image-product{
  width: 30%;
}
.info-product{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.name-product{
  height: 50%;
}
.values-product{
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}
.product-selected{
  background-color: rgba(0, 0, 0, 0.5);
}