.orderButtons{
  height: 25%;
  width: 100%;
  display: flex;
  padding: 5px;
  flex-direction: column;
}
.orderInfo{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.numberOrder{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: large;
  font-weight: bold;
}
.numberOrder span{
  width: 55%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #92A2A8;
}
.buttons{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.buttons button{
  height: 85%;
  width: 25%;
  cursor: pointer;
  border: none;
  color: #FFF;
  border-radius: 8px;
  font-size: smaller;
}
.buttons button:nth-child(1){
  background-color: #DB4A67;
}
.buttons button:nth-child(2){
  background-color: #3F9DC0;
}
.buttons button:nth-child(3){
  background-color: #356E35;
}