.grid-products{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-table-products{
  height: 88%;
  background-color: #fdfdfd;
  overflow-x: hidden;
  overflow-y: auto;
}

.table-products{
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.div-table-products::-webkit-scrollbar {
  width: 0.5em;
  background-color: #eee;
}
.div-table-products::-webkit-scrollbar-thumb {
  background-color: #888;
}

.table-products th{
  background-color: rgb(221, 221, 221);
  font-weight: 700;
  color: rgb(102, 102, 102);
}

.table-products tr{
  height: 30px;
}

.table-products tr:last-child{
  height: auto;
}

.table-products td, th{
  line-height: 30px;
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

.table-products th:nth-child(1), .table-products td:nth-child(1){
  width: 60%;
  text-align: start;
}

.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  background-color: black;
}