.artProducts{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 0 13px;
}

.products{
  padding: 13px;
}

.name-empresa{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
}